<div id="dynamic-toc-container" class="{% unless include.is_toc_open %}d-none{% endunless %} {% unless page.full-width %} col-xl-3 col-lg-3 {% endunless %}">
    <nav class="align-items-stretch table-of-contents-container liquidGlass-wrapper">
        <div class="liquidGlass-effect"></div>
        <div class="liquidGlass-tint"></div>
        <div class="liquidGlass-shine"></div>
        <details open id="toc-details-TABLE_OF_CONTENTS">
            <summary>
                <a class="nav-link table-of-contents-title">
                    <svg class="bi bi-card-list" width="1em" height="1em" viewBox="0 0 18 18" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M14.5 3h-13a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z" />
                        <path fill-rule="evenodd" d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8zm0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5z" />
                        <circle cx="3.5" cy="5.5" r=".5" />
                        <circle cx="3.5" cy="8" r=".5" />
                        <circle cx="3.5" cy="10.5" r=".5" />
                    </svg>
                    &nbsp;Contents
                </a>
                <a class="btn btn-colorful" onclick="closeGlobalTOC(event)" aria-label="Hide Sidebar">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-layout-sidebar-inset" viewBox="0 0 16 16">
                        <path d="M14 2a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1zM2 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2z" />
                        <path d="M3 4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1z" />
                    </svg>
                </a>
            </summary>
            <nav id="TABLE_OF_CONTENTS" class="nav nav-pills flex-column table-of-contents-item"></nav>
        </details>
    </nav>
</div>

<div id="dynamic-main-content"
    class="{% if page.full-width %} col {% elsif include.is_toc_open %} col-xl-8 col-lg-8 {% else %} col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 {% endif %}"
    data-is-fullwidth="{% if page.full-width %}true{% else %}false{% endif %}">

    <div class="breadcrumb-navigation-container">

        <div class="breadcrumb-container pill btn-container">
            <a id="toc-restore-btn" class="btn btn-normal {% if include.is_toc_open %}d-none{% else %}d-flex{% endif %} align-items-center justify-content-center" onclick="openGlobalTOC()" aria-label="Show Sidebar">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-layout-sidebar-inset" viewBox="0 0 16 16">
                    <path d="M14 2a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1zM2 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2z" />
                    <path d="M3 4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1z" />
                </svg>
            </a>
        </div>

        <nav class="breadcrumb-container pill" style="--bs-breadcrumb-divider: '>'; display: flex; align-items: center;" aria-label="breadcrumb">
            {% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
            <ol class="breadcrumb" style="margin-bottom: 0;">
                <li class="breadcrumb-item">
                    <a href="{{ '/index' | absolute_url }}">
                        <svg class="bi bi-house" width="1em" height="1em" viewBox="0 0 18 18" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z" />
                            <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z" />
                        </svg>
                        Home
                    </a>
                </li>
                {% for crumb in crumbs offset: 1 %}
                    {% if forloop.last %}
                        {% if include.hide_title %}
                            <li class="breadcrumb-item active" aria-current="page">This page</li>
                        {% else %}
                            <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
                        {% endif %}
                    {% else %}
                        <li class="breadcrumb-item"><a href="{% assign crumb_limit = forloop.index | plus: 1 %}{% if site.baseurl %}{{ site.baseurl }}{% endif %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' | replace:'without-plugin/','without-plugins/' }}{% endfor %}">{{ crumb | replace:'-',' ' | remove:'.html' | capitalize }}</a></li>
                    {% endif %}
                {% endfor %}
            </ol>
        </nav>
    </div>
