<script>
    const target = document.getElementById('TABLE_OF_CONTENTS');
    const _OPEN_BUTTON_HTML =
        '<a class="btn btn-colorful" onclick="_toggle_details(this)">' +
        '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">' +
        '<path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>' +
        '</svg>' +
        '</a>';

    window._toggle_details = function (button) {
        const details = button.parentElement;
        if (details) {
            details.open = !details.open;
        }
    };

    window.closeGlobalTOC = function (event) {
        if (event) {
            event.preventDefault();
        }

        const tocContainer = document.getElementById('dynamic-toc-container');
        const mainContent = document.getElementById('dynamic-main-content');
        const restoreBtn = document.getElementById('toc-restore-btn');
        const isFullWidth = mainContent ? mainContent.getAttribute('data-is-fullwidth') === 'true' : false;

        if (!tocContainer || !mainContent) return;

        tocContainer.classList.add('d-none');

        if (restoreBtn) {
            restoreBtn.classList.remove('d-none');
            restoreBtn.classList.add('d-flex');
        }

        if (!isFullWidth) {
            mainContent.classList.remove('col-lg-8');
            mainContent.classList.add('offset-xl-2', 'col-lg-10', 'offset-lg-1');
        }
    };

    window.openGlobalTOC = function () {
        const tocContainer = document.getElementById('dynamic-toc-container');
        const mainContent = document.getElementById('dynamic-main-content');
        const restoreBtn = document.getElementById('toc-restore-btn');
        const isFullWidth = mainContent ? mainContent.getAttribute('data-is-fullwidth') === 'true' : false;

        if (!tocContainer || !mainContent) return;

        tocContainer.classList.remove('d-none');

        if (restoreBtn) {
            restoreBtn.classList.remove('d-flex');
            restoreBtn.classList.add('d-none');
        }

        if (!isFullWidth) {
            mainContent.classList.remove('offset-xl-2', 'col-lg-10', 'offset-lg-1');
            mainContent.classList.add('col-lg-8');
        }
    };

    $(function () {
        var titles = $("h2, h3, h4");
        var prev_level = 0;
        var prev_id = 'TABLE_OF_CONTENTS';

        const tocContainer = document.getElementById('dynamic-toc-container');
        const mainContent = document.getElementById('dynamic-main-content');
        const restoreBtn = document.getElementById('toc-restore-btn');
        const isFullWidth = mainContent ? mainContent.getAttribute('data-is-fullwidth') === 'true' : false;

        if (titles.length === 0) {
            if (tocContainer) tocContainer.classList.add('d-none');

            if (restoreBtn) {
                restoreBtn.classList.remove('d-flex');
                restoreBtn.classList.add('d-none');
            }

            if (mainContent && !isFullWidth) {
                mainContent.classList.remove('col-lg-8');
                mainContent.classList.add('offset-xl-2', 'col-lg-10', 'offset-lg-1');
            }

            return;
        }

        const mediaQuery = window.matchMedia('(max-width: 767px)');
        if (mediaQuery.matches) {
            $('#toc-details-TABLE_OF_CONTENTS').removeAttr('open');
        }

        const title_list = {
            id: prev_id,
            title: target,
            level: prev_level,
            next: [],
            prev: null,
        };
        var _current_node = title_list;

        for (let index = 0; index < titles.length; index++) {
            const current_title_element = titles[index];
            const current_level = Number(current_title_element.nodeName.substring(1, 2));
            const id = 'title-' + String(index) + '-' + String(current_level);

            var _new_node = {
                id: id,
                title: current_title_element,
                level: current_level,
                next: [],
                prev: null,
            };

            while (_current_node['level'] >= current_level) {
                _current_node = _current_node['prev'];
            }

            _new_node['prev'] = _current_node;
            _current_node['next'].push(_new_node);
            _current_node = _new_node;
        }

        var nodes = title_list['next'].reverse();

        while (true) {
            if (!nodes.length) break;

            var node = nodes.pop();
            var level = node['level']
            var id = node['id']

            var next_nodes = node['next'].reverse();
            if (next_nodes.length) {
                next_nodes.forEach(new_node => nodes.push(new_node));
            }

            var _target_id = node['prev']['id'];
            if (node['prev']['next'].length && _target_id != 'TABLE_OF_CONTENTS') {
                _target_id = 'toc-item-' + _target_id;
            }

            var _target = document.getElementById(_target_id);

            _target.innerHTML += '<nav class="nav nav-pills flex-column table-of-contents-item" id="toc-' + id + '" ><details open id="toc-details-' + id + '"></details></nav>';
            _target = document.getElementById('toc-details-' + id);

            var _button_html = next_nodes.length ? _OPEN_BUTTON_HTML : '';

            _target.innerHTML +=
                '<summary><a class="nav-link table-of-contents-h' + String(node['level']) + '"' +
                'id=' + id + ' ' +
                'href="#' + node['title'].id +
                '">' +
                node['title'].innerHTML +
                '</a>' + _button_html + '</summary>';

            if (next_nodes.length) {
                _target.innerHTML += '<nav class="nav nav-pills flex-column table-of-contents-item" id="toc-item-' + id + '" ></nav>';
            }
        }

        $('body').scrollspy({ target: '.table-of-contents-container', offset: 0 })
    });
</script>
