---
layout: null
---
/*
 * @Author: Conghao Wong
 * @Date: 2025-04-09 10:06:30
 * @LastEditors: Conghao Wong
 * @LastEditTime: 2026-01-29 18:42:36
 * @Github: https://cocoon2wong.github.io
 * Copyright 2025 Conghao Wong, All Rights Reserved.
 */

/* --- Variables--- */

:root {
    --navbar-float-col: {{ site.navbar-float-col | default: "#EAEAEA" }};

    --body-font: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    --header-font: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

/* --- General--- */

h2 {
    color: {{site.button-hover-color}};
}

.page-bg-white h2 {
    padding-bottom: 8px;
    border-bottom: 1px solid #eaeaea;  
}

/* --- Navbar--- */

.navbar-custom {
    border-bottom: none;
    transition: none;
}

.navbar-custom,
.navbar-custom.top-nav-short,
.navbar-custom.top-nav-short-permanent {
    padding-left: 1em;
    padding-right: 1em;
}

.navbar-custom .navbar-nav .nav-link {
    padding-top: 0;
    padding-bottom: 0;
}

/* --- Footer --- */

footer {
    margin-top: 0;
}

/* --- Post and page headers --- */

.intro-header.big-img {
    margin-bottom: 0;
}

@media (min-width: 1200px) {
    .intro-header.big-img {
        margin-top: 0;
    }
}

/* --- Code blocks --- */

.highlighter-rouge:not(.language-plaintext) {
    padding: 10px 20px;
    border-radius: 20px;
    background-color: rgba(0,0,0,0.03);
    transition: background-color 0.2s ease-in-out;
}

.dark-mode .highlighter-rouge:not(.language-plaintext) {
    background-color: rgba(255,255,255,0.12);
}

div.highlight {
    display: flex;
    position: relative;
}

div.highlight > pre {
    background-image: none;
    background-position-y: 0;
    padding: 0;
    border: none;
    border-radius: 6px;
}

div.highlight > .codebox-title {
    opacity: 0;
    position: absolute;
    top: 0;
    right: -13px;
    height: 21px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 99;
    transition: opacity 0.2s ease-in-out;
}

div.highlight:hover > .codebox-title {
    opacity: 1;
}

.codebox-title > a.btn-colorful {
    border-radius: 999px;
    line-height: 1.1;
}

.post-preview.pill {
    padding: 20px 22px;
    border-radius: 27px;
    background: #ffffff;
    border-radius: 27px;
    width: 100%;
    margin-top: 20px;
}

.dark-mode .post-preview.pill {
    background: #2f2f2f;
}

.posts-list {
    margin-bottom: 20px;
}
