---
layout: null
---
/*
 * @Author: Conghao Wong
 * @Date: 2025-03-21 15:05:13
 * @LastEditors: Conghao Wong
 * @LastEditTime: 2026-01-28 15:25:53
 * @Github: https://cocoon2wong.github.io
 * Copyright 2025 Conghao Wong, All Rights Reserved.
 */

:root {
    --breadcrumb-color: #6c757da0;
    --breadcrumb-color-dark: #9a9a9a;
    --breadcrumb-hover-color: #FFFFFF;
    --breadcrumb-active-color: #616A72;
    --breadcrumb-active-color-dark: #FFFFFF;

    --breadcrumb-background-color: {{ site.other-nav-col | default: "#FaFaFc"}};
    --breadcrumb-hover-background-color: {{ site.hover-col | default: "#0085A1" }};
    --breadcrumb-background-color-dark: {{ site.other-nav-col-dark | default: "#3D3D3D"}};
}

.breadcrumb-container {
    position: relative;
    overflow: hidden;
    padding-left: 1px;
    padding-right: 14px;
    margin-bottom: 10px;
    background: linear-gradient(45deg, 
        var(--breadcrumb-hover-background-color) 0%,
        var(--breadcrumb-background-color) 100%);
}

.dark-mode .breadcrumb-container {
    background: linear-gradient(45deg, 
        var(--breadcrumb-hover-background-color) 0%,
        var(--breadcrumb-background-color-dark) 100%);
}

.breadcrumb-container::before {
    content:"";
    position:absolute;
    inset:0;
    pointer-events:none;
    z-index:0;
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0.97);
}

.breadcrumb-container > * {
    position: relative;
    z-index: 1;
}

.breadcrumb {
    margin: 0;
    padding-left: 1px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.breadcrumb-item > a {
    margin: 3px;
    padding: 3px 6px;
    border-radius: 999px;
    text-decoration: none;
    transition: all .1s ease-in-out;
    color: var(--breadcrumb-color);
}

.dark-mode .breadcrumb-item > a {
    color: var(--breadcrumb-color-dark);
}

.breadcrumb-item.active {
    color: var(--breadcrumb-active-color);
}

.dark-mode .breadcrumb-item.active {
    color: var(--breadcrumb-active-color-dark);
}

.breadcrumb-item > a:hover {
    color: var(--breadcrumb-hover-color);
    background-color: var(--breadcrumb-hover-background-color);
}
