/*
 * @Author: Conghao Wong
 * @Date: 2025-03-31 15:42:00
 * @LastEditors: Conghao Wong
 * @LastEditTime: 2025-04-01 15:29:42
 * @Github: https://cocoon2wong.github.io
 * Copyright 2025 Conghao Wong, All Rights Reserved.
 */

:root {
    --dark-mode-font-col: #ffffff;
    --dark-mode-footer-background-col: #404040;
}

body.dark-mode,
.dark-mode p,
.dark-mode h1,
.dark-mode h3,
.dark-mode h4,
.dark-mode h5,
.dark-mode footer a,
.dark-mode footer p, 
.dark-mode li,
.dark-mode .navbar-custom .navbar-brand,
.dark-mode .navbar-custom .navbar-nav .nav-link {
    color: var(--dark-mode-font-col);
}

.dark-mode table tr {
    background-color: var(--dark-mode-footer-background-col);
}

.dark-mode footer {
    border-color: var(--dark-mode-footer-background-col);
    background-color: var(--dark-mode-footer-background-col);
}

.dark-mode .highlight pre {
    background-color: #646464;
}
