---
layout: null
---
/*
 * @Author: Conghao Wong
 * @Date: 2025-04-14 19:18:37
 * @LastEditors: Conghao Wong
 * @LastEditTime: 2025-04-14 20:23:48
 * @Github: https://cocoon2wong.github.io
 * Copyright 2025 Conghao Wong, All Rights Reserved.
 */

:root {
    --details-open-border-col: #b1b1b150;
    --details-background-col: {{ site.other-nav-col | default: "#F7F7F9"}};
    --details-background-col-dark: {{ site.other-nav-col-dark | default: "#3D3D3D"}};

}

details {
    transition: background-color 0.2s ease-in-out;
    border-radius: 10px;
    padding: 0 10px;
}

details summary {
    padding: 3px 0;
    transition: padding 0.2s ease-in-out;
}

details:hover {
    background-color: var(--details-background-col);
}

.dark-mode details:hover {
    background-color: var(--details-background-col-dark);
}

details[open] {
    margin-top: 10px;
    background-color: var(--details-background-col);
}

.dark-mode details[open] {
    background-color: var(--details-background-col-dark);
}

details[open] summary {
    padding: 8px 0;
    border-bottom: 1px solid var(--details-open-border-col);
}

details[open] > *:nth-child(2) {
    margin-top: 10px;
}

details[open] > *:last-child {
    padding-bottom: 10px;
}
