/*
 * @Author: Conghao Wong
 * @Date: 2025-03-14 16:30:33
 * @LastEditors: Conghao Wong
 * @LastEditTime: 2025-06-20 16:47:24
 * @Github: https://cocoon2wong.github.io
 * Copyright 2025 Conghao Wong, All Rights Reserved.
 */


.markdown-alert {
    position: relative;
    border-radius: 14px;
    z-index: 0;
    border-left: none !important;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2), 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2.2);
}

.markdown-alert p{
    z-index: 2;
}

.markdown-alert >:first-child{
    margin-top: 5px !important;
    margin-bottom: 15px !important;
}

.markdown-alert >:nth-child(2){
    margin-top: 15px !important;
}

.markdown-alert::before {
    content: '';
    inset: 0;
    margin: 1px;
    filter: url(#glass-distortion);
    backdrop-filter: saturate(180%) blur(3px);
    position: absolute;
    border-radius: 14px;
    z-index: -1;
    background-color: rgba(255, 255, 255, 0.8);
}

.dark-mode .markdown-alert::before {
    background-color: rgba(0, 0, 0, 0.6);
}

.markdown-alert-note {
    background: linear-gradient(135deg, 
        #1573ff53 0%,
        #0000 80%,
        #0000 100%);
}

.markdown-alert-warning {
    background: linear-gradient(135deg, 
        #e6991530 0%,
        #0000 80%,
        #0000 100%);
}

.markdown-alert-important {
    background: linear-gradient(135deg, 
        #a172f730 0%,
        #0000 80%,
        #0000 100%);
}
