/*
 * @Author: Conghao Wong
 * @Date: 2025-03-14 16:30:33
 * @LastEditors: Conghao Wong
 * @LastEditTime: 2025-04-09 14:58:08
 * @Github: https://cocoon2wong.github.io
 * Copyright 2025 Conghao Wong, All Rights Reserved.
 */


.markdown-alert {
    border-radius: 0;
}

.markdown-alert >:first-child{
    margin-top: 5px !important;
    margin-bottom: 15px !important;
}

.markdown-alert >:nth-child(2){
    margin-top: 15px !important;
}

.markdown-alert-note {
    background-color: #3c88f730;
}

.markdown-alert-warning {
    border-left-color: #cc8e1f !important;
    background-color: #e6991530;
}

.markdown-alert-important {
    background-color: #a172f730;
}
