/*
 * @Author: Conghao Wong
 * @Date: 2025-03-25 20:15:43
 * @LastEditors: Conghao Wong
 * @LastEditTime: 2026-01-29 16:38:31
 * @Github: https://cocoon2wong.github.io
 * Copyright 2025 Conghao Wong, All Rights Reserved.
 */

:root {
    --main-page-col: #FFFFFF;
    --main-page-col-gray: #f5f5f7;
    --main-page-col-dark: #1e1e1c;
    --main-page-col-dark-gray: #1d1d1f;
    --main-page-shadow-col: #00000060;


    --navbar-float-border-col: #b1b1b150;
    --navbar-float-active-background-col: #FFFFFFa0;

    --navbar-col-dark: #14141460;

    --header-background-col: #FFF;
    --header-background-col-dark: #000;
}

.top-nav-background-container {
    content: '';
    width: 100%;
    height: calc(100% - 1px);
    position: absolute;
    top: 0;
    right: 0;
    transition: none;
    z-index: -1;
    filter: url(#glass-distortion);
}

.top-nav-float-container {
    position: relative;
    display: flex;
    overflow: hidden;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.1);
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2.2);
}

.top-nav-float-container,
.top-nav-float-container>div {
    border-radius: 35px;
}

.top-nav-float-container .nav-item:first-child:not(.top-nav-active) {
    padding-left: 8px;
}

.top-nav-float-icon {
    text-align: center;
    font-size: 30px;
}

.top-nav-container:not(.top-nav-float) .top-nav-float-icon {
    display: none;
}

.nav-link:has(.top-nav-float-icon) {
    font-size: 8px;
}

.top-nav-float-container .nav-item {
    position: relative;
    display: flex;
    align-items: center;
}

.top-nav-active {
    padding: 0 14px;
}

.top-nav-active>.nav-link {
    color: var(--hover-col) !important;
}

.dark-mode .header-section {
    background-color: var(--header-background-col-dark);
}

.main-page-container {
    padding-top: 15px;
    padding-bottom: 3.125rem;
    position: relative;
    z-index: 2;
}

/* 向上阴影 */
body:not(.home-fullscreen-sections) .main-page-container .main-page-container::before {
    content: "";
    position: absolute;
    top: -30px;
    left: 0;
    right: 0;
    height: 30px;
    pointer-events: none;
    background: linear-gradient(to top,
            rgba(0, 0, 0, 0.14),
            rgba(0, 0, 0, 0.0));
}

.page-bg-white .main-page-container {
    background-color: var(--main-page-col);
}

.page-bg-gray .main-page-container {
    background: var(--main-page-col-gray);
}

.dark-mode.page-bg-white .main-page-container {
    background-color: var(--main-page-col-dark);
}

.dark-mode.page-bg-gray .main-page-container {
    background-color: var(--main-page-col-dark-gray);
}

.main-page-container-shadow {
    box-shadow: -5px -5px 10px -4px var(--main-page-shadow-col);
}

.nav-item-active {
    position: absolute;
    top: 5px;
    left: 5px;
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    content: '';
    display: block;
    background-color: var(--navbar-float-active-background-col);
    border-radius: 30px;
    /* margin-top: -37px; */
    z-index: -1;
}

.nav-item-underline {
    box-sizing: border-box;
}

.nav-item-underline::after {
    content: '';
    display: block;
    height: 1px;
    background-color: var(--hover-col);
    z-index: -1;
    animation: border-show 0.1s ease-out;
}

@keyframes border-show {
    0% {
        margin-left: 50%;
        width: 0%;
    }

    100% {
        margin-left: 0;
        width: 100%;
    }
}