/*
 * @Author: Conghao Wong
 * @Date: 2025-03-25 20:15:43
 * @LastEditors: Conghao Wong
 * @LastEditTime: 2025-03-28 15:39:57
 * @Github: https://cocoon2wong.github.io
 * Copyright 2025 Conghao Wong, All Rights Reserved.
 */

:root {
    --navbar-float-border-col: #b1b1b150;
}

.top-nav-background-container {
    content: '';
    width: 100%;
    height: calc(100% - 1px);
    position: absolute;
    top: 0;
    right: 0;
    transition: none;
    z-index: -1;
}

.top-nav-float-container {
    border-radius: 25px;
    box-sizing: border-box;
}

.top-nav-active > .nav-link {
    color: var(--hover-col) !important;
}

.main-page-container {
    background-color: #FFFFFF;
    padding-top: 15px;
    padding-bottom: 3.125rem;
}

.main-page-container-shadow {
    box-shadow: -5px -5px 10px -4px #00000060;
}

.nav-item-active {
    content: '';
    display: block;
    height: 34px;
    background-color: #FFFFFFa0;
    border-radius: 17px;
    margin-top: -37px;
    z-index: -1;
}

.nav-item-underline {
    box-sizing: border-box;
}

.nav-item-underline::after {
    content: '';
    display: block;
    height: 1px;
    background-color: var(--hover-col);
    z-index: -1;
    animation: border-show 0.1s ease-out;
}

@keyframes border-show {
    0% {
        margin-left: 50%;
        width: 0%;
    }

    100% {
        margin-left: 0;
        width: 100%;
    }
}
