---
layout: null
---
/*
 * @Author: Conghao Wong
 * @Date: 2024-12-25 12:25:05
 * @LastEditors: Conghao Wong
 * @LastEditTime: 2025-03-31 19:47:33
 * @Github: https://cocoon2wong.github.io
 * Copyright 2024 Conghao Wong, All Rights Reserved.
 */

:root {
    --table-of-contents-background-col: {{ site.other-nav-col | default: "#F7F7F9"}};
    --table-of-contents-background-col-dark: {{ site.other-nav-col-dark | default: "#3D3D3D"}};

    --table-of-contents-title-col: #6c757da0;
    --table-of-contents-title-hover-col: #000;
    --table-of-contents-title-col-dark: #ffffff;
    --table-of-contents-title-hover-col-dark: #fff;

    --table-of-contents-inactive-col: #616a72;
    --table-of-contents-inactive-col-dark: #9A9A9A;

    --table-of-contents-background-hover-col: #eaeaea;

    --table-of-contents-theme-col: {{site.button-hover-text-color}};
    --table-of-contents-theme-background-col: {{site.button-hover-color}};
}

.table-of-contents-container {
    padding-top: 5px;
    padding-bottom: 0;
    border: 0px;
    border-radius: 10px;
    margin-bottom: 20px;
    position: sticky;
    top: 100px;
    background-color: var(--table-of-contents-background-col);
}

.table-of-contents-container.dark-mode {
    background-color: var(--table-of-contents-background-col-dark);
}

.table-of-contents-item > a {
    display: flex;
    padding: 3px 6px;
    border: 0;
    border-radius: 6px;
    color: var(--table-of-contents-inactive-col);
}

.table-of-contents-item.dark-mode > a,
.table-of-contents-item.dark-mode > * > a {
    color: var(--table-of-contents-inactive-col-dark);
}

.table-of-contents-title {
    padding: 0 0 0 10px;
    color: var(--table-of-contents-title-col);
}

.table-of-contents-title.dark-mode {
    color: var(--table-of-contents-title-col-dark);
}

.table-of-contents-title:hover {
    color: var(--table-of-contents-title-hover-col);
}

.table-of-contents-title.dark-mode:hover {
    color: var(--table-of-contents-title-hover-col-dark);
}

.table-of-contents-h2 {
    font-size: 1.125rem;
    margin: 5px;
}

.table-of-contents-h3 {
    font-size: 1rem;
    margin-left: 1rem !important;
    margin-right: 5px;
    margin-bottom: 2px;
}

.table-of-contents-h4 {
    font-size: 1rem;
    margin-left: 2rem !important;
    margin-right: 5px;
    margin-bottom: 2px;
}

.table-of-contents-h2.nav-link.active,
.table-of-contents-h2:hover {
    color: var(--table-of-contents-theme-col);
    background-color: var(--table-of-contents-theme-background-col);
}

.table-of-contents-h3.nav-link.active,
.table-of-contents-h3:hover,
.table-of-contents-h4.nav-link.active,
.table-of-contents-h4:hover {
    color: var(--table-of-contents-theme-background-col);
    background-color: var(--table-of-contents-background-hover-col);
}
