---
layout: null
---
/*
 * @Author: Conghao Wong
 * @Date: 2024-12-25 12:25:05
 * @LastEditors: Conghao Wong
 * @LastEditTime: 2025-04-15 10:56:50
 * @Github: https://cocoon2wong.github.io
 * Copyright 2024 Conghao Wong, All Rights Reserved.
 */

:root {
    --table-of-contents-background-col: {{ site.other-nav-col | default: "#F7F7F9"}};
    --table-of-contents-background-col-dark: {{ site.other-nav-col-dark | default: "#3D3D3D"}};

    --table-of-contents-title-col: #6c757da0;
    --table-of-contents-title-hover-col: #000;
    --table-of-contents-title-col-dark: #ffffff;
    --table-of-contents-title-hover-col-dark: #fff;

    --table-of-contents-inactive-col: #616a72;
    --table-of-contents-inactive-col-dark: #9A9A9A;

    --table-of-contents-background-hover-col: #eaeaea;

    --table-of-contents-theme-col: {{site.button-hover-text-color}};
    --table-of-contents-theme-background-col: {{site.button-hover-color}};
}

.table-of-contents-container details > summary {
    position: relative;
    display: flex;
}

.table-of-contents-container details > summary > a {
    flex-grow: 1;
}

.table-of-contents-container details > summary > .btn {
    position: absolute;
    width: 32px;
    background-color: transparent;
    top: 0;
    right: 0;
    margin: 5px;
    height: calc(100% - 10px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
}

.table-of-contents-container details > summary > .btn:hover {
    background-color: var(--table-of-contents-theme-background-col);
}

.table-of-contents-container {
    border: 0px;
    border-radius: 10px;
    margin-bottom: 20px;
    position: sticky;
    top: 67px;
    max-height: calc(100vh - 67px - 15px);
    overflow: auto;
    background-color: var(--table-of-contents-background-col);
}

.dark-mode .table-of-contents-container {
    background-color: var(--table-of-contents-background-col-dark);
}

.table-of-contents-item:not(:last-child) {
    position: relative;
    margin-bottom: -5px;
}

.table-of-contents-item:first-child {
    margin-top: -5px;
}

.table-of-contents-container details > summary > a {
    display: flex;
    padding: 3px 6px;
    border: 0;
    border-radius: 6px !important;
    color: var(--table-of-contents-inactive-col);
}

.dark-mode .table-of-contents-container details > summary > a {
    color: var(--table-of-contents-inactive-col-dark);
}

.table-of-contents-title {
    align-items: center;
    padding: 5px 5px 5px 10px !important;
    color: var(--table-of-contents-title-col) !important;
}

.dark-mode .table-of-contents-title {
    color: var(--table-of-contents-title-col-dark) !important;
}

.table-of-contents-title:hover {
    color: var(--table-of-contents-title-hover-col) !important;
}

.dark-mode .table-of-contents-title:hover {
    color: var(--table-of-contents-title-hover-col-dark) !important;
}

.table-of-contents-h2 {
    font-size: 1.125rem;
    margin: 5px;
}

.table-of-contents-h3 {
    font-size: 1rem;
    margin-left: 2rem !important;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.table-of-contents-h4 {
    font-size: 1rem;
    margin-left: 4rem !important;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.table-of-contents-h2.nav-link.active,
.table-of-contents-h2:hover {
    color: var(--table-of-contents-theme-col);
    background-color: var(--table-of-contents-theme-background-col);
}

.table-of-contents-h3.nav-link.active,
.table-of-contents-h3:hover,
.table-of-contents-h4.nav-link.active,
.table-of-contents-h4:hover {
    color: var(--table-of-contents-theme-background-col);
    background-color: var(--table-of-contents-background-hover-col);
}

summary > .nav-link:hover + .btn,
summary > .nav-link.active + .btn {
    color: var(--table-of-contents-theme-col);
}
